<div class="col-sm-4">
  <div class="product">
    <div class="product-img">
      <%= image_tag product.display_image if product.image.present? %>
    </div>
    <p class="product-name"><%= t "product.name" %><%= product.name %></p>
    <p class="product-name"><%= t "product.price" %>$<%= product.price %></p>
  </div>
</div>
