<div class="col-4">
  <div class="product-img">
    <%= image_tag product.display_image %>
  </div>
  <p><%= t "product.name" %><%= product.name %></p>
  <p><%= t "product.price" %>$<%= product.price %></p>
</div>
