<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed">
    <div id="admin">
      <%= render "base/header" %>
      <%= render "shared/flash" %>
      <div class="new-heading">
        <h1><%= t "admin.title" %></h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
