<div class="notice"><%= notice %></div>
<div class="product">
  <h2 class="new-heading"><%= t "product.all_product" %></h2>
  <div class="table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <td>ID</td>
          <td><%= t "product.name" %></td>
          <td><%= t "product.information" %></td>
          <td><%= t "product.price" %></td>
          <td><%= t "product.old_price" %></td>
          <td><%= t "cart.action" %></td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "product", collection: @products %>
      </tbody>
    </table>
  </div>
  <%= paginate @products, theme: "twitter-bootstrap-3" %>
  <div>
    <%= link_to t("product.add_new"), new_admin_product_path, class: "btn btn-primary" %>
  </div>
</div>
