<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".en"), locale: :en %></li>
        <li><%= link_to t(".vi"), locale: :vi %></li>
        <li><%= link_to t("home.home_index"), friendcoff_path %>
        <% if logged_in? %>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
              <div class="img">
                <%= gravatar_for @current_user, size: Settings.users_helper.size_img1 %>
                <span class="name">
                  <%= current_user.name %>
                  <b class="caret"></b>
                </span>
              </div>
            <% end %>
            <div class="dropdown-menu">
              <li><%= link_to t("user.profile"), current_user %></li>
              <li><%= link_to t("user.change_info"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("signin.signout"), signout_path %>
              </li>
            </div>
          </li>
        <% else %>
          <li><%= link_to t("header.signup_index"), signup_path %> /
          <li><%= link_to t("signup.login_site"), signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
