<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag "logo2.jpg", class: "logo_footer" %>
        <hr class="light">
        <p><%= t "footer.address" %></p>
        <p><%= t "footer.email" %></p>
        <p><%= t "footer.phone" %></p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5><%= t "footer.working_hours" %></h5>
        <hr class="light">
        <p><%= t "footer.in_week" %></p>
        <p><%= t "footer.in_week2" %></p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5><%= t "footer.service" %></h5>
        <hr class="light">
        <p><%= t "footer.payment" %></p>
        <p><%= t "footer.order_table" %></p>
        <p><%= t "footer.ship" %></p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; <%= t "footer.copyright" %>|<%= t "footer.text" %></h5>
      </div>
    </div>
  </div>
</footer>
